.container {
  background-color: #644234;
}

.custom-heading {
  color: #f5e7de;
}

.custom-btn {
  background-color: #644234;
  border-color: #644234;
  color: #f5e7de;
}

.custom-btn:hover {
  background-color: #644234;
  border-color: #644234;
  transform: scale(1.03);
  color: #f5e7de;
}
