.btn-info {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--primary-color);
}

.btn-info:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transform: scale(1.03);
  border-color: var(--primary-color);
}

.login-link {
  color: var(--primary-color);
}
