.custom-login-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--primary-color);
}

.custom-login-btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  transform: scale(1.05);
}

.custom-link {
  color: var(--primary-color);
}
