/* Navbar Styling */
.navbar {
  font-family: Georgia, "Times New Roman", Times, serif;
  border-color: #644234;
}

.navbar-light .navbar-nav .nav-link {
  color: #644234;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #7a5b47;
  transform: scale(1.05);
}

.navbar-light .navbar-nav .nav-link:active {
  color: #7a5b47;
}

.navbar-toggler-icon {
  background-color: #7a5b47;
}

.navbar-toggler {
  border-color: #7a5b47;
}

.navbar-item {
  margin-right: 15px;
}

.navbar-brand {
  font-family: "Princess Sofia", Georgia, "Times New Roman", Times, serif;
  font-size: 1.8rem;
  color: #644234;
}

.navbar-brand:hover {
  color: #7a5b47;
  transform: scale(1.05);
}

.navbar-brand:active,
.navbar-brand:focus {
  color: #644234;
  text-decoration: none;
}

.custom-navbar {
  background-color: #f5e7de;
}
